.title {
	font-family: Didot;
	text-align: center;
	font-size: 80px;
	font-weight: lighter;
	padding-top: 0px;
	padding-bottom: 0px;
	bottom: 10px;
}
body {
	background-color:#FEF7EB;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}
.menu {
	text-align: center;
	font-size: 17px;
	text-indent: 5px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	letter-spacing: 3px;
}

#table {
	text-align: center;
	font-family: Optima;
	font-size: 16px;
	padding: 2px; 
}

a:link {
	text-decoration: none;
	color: #000;
}
a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: none;
	color: #3FF;
}
a:active {
	text-decoration: none;
	color: #000;
}

#home {
	font-family: Optima;
	font-size: 16px;
	text-align: center;
	letter-spacing: 3px;
}
.add {
	font-family: Optima;
	text-align: center;
	font-weight: bold;
}